<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!  I WANNA GO HOME!
  </h1>

  <aside>
    <select [(ngModel)] = 'selectedSymbol'>
      <option *ngFor = 'let item of symbolsModel' [(value)] = 'item.symbol'>{{item.symbol}}</option>
    </select>
  </aside>

  <pre>symbol:  {{selectedSymbol}}</pre>

  <app-symbol-form></app-symbol-form>

  <h2>{{oneStock.symbol}}</h2>

  <p>test one plus two equal {{ 1 + 2 }}</p>
</div>

<div>
  <ul>
    <li *ngFor = "let item of portfolio">{{item.symbol}}</li>
  </ul>
  <img [src] ="picUrl">

  <app-agree></app-agree>

  <app-renderer (editEvent) = 'editEventHandle($event)'
                *ngFor = 'let item of portfolio' 
                [symbol] = 'item.symbol' 
                [price] = 'item.price' 
                [qty] = 'item.qty' >
    </app-renderer>

    <h1>{{editing}}</h1>
</div>

























<router-outlet></router-outlet>
