<aside>
    <pre>{{combined}}</pre>
    <input required [ngModelOptions] = '{updateOn: blur}' placeholder="type a stock symbol" [(ngModel)] = 'symbol' #spy = 'ngModel'><br>
    <input type = 'number' [(ngModel)] = 'qty' min = '0' max = '100' step = '10'><br>
    <span [hidden] = 'spy.valid || spy.pristine'>Symbol is required</span><br>
    <button [disabled] = 'spy.invalid'>submit</button>
</aside>

<p>{{spy.className}}</p>
<p>{{symbol}}</p>
<p>{{qty}}</p>